/* 
    Document   : index
    Created on : 15-sep-2011, 21:03:03
    Author     : manuel
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/




